@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-grey1: #f2f2f2;
  --clr-grey2: #e5e5e5;
  --clr-orange: #ec6652;
  --transition: all .3s linear;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

.button {
  cursor: pointer;
}
